# ==========================================
# Java / Maven
# ==========================================
target/
*.class
*.jar
*.war
*.ear
release.properties
pom.xml.releaseBackup
buildNumber.properties

# Spring Boot & Config Local
.mvn/
application-local.properties
*.log
logs/

# Docker local
.docker/
.env

# ==========================================
# Secretos y Llaves 
# ==========================================
rsa_private.key
rsa_public.key
gcp-vision.json

# ==========================================
# IDEs & Editores
# ==========================================
# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.metadata/
.classpath
.project
.settings/

# VS Code
.vscode/

# ==========================================
# Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db